* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
}

.container {
  height: 100%;

  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;

  flex-wrap: wrap;
}
